<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.shou.demo">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".jiuray.AiBagActivity"/>
        <activity android:name=".jiuray.BluetoothActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".jiuray.GuideActivity">
        </activity>
        <activity android:name=".jiuray.CheckGuideActivity">
        </activity>
        <activity android:name=".jiuray.ManualCheckActivity">
        </activity>
        <activity android:name=".jiuray.ScheduleCheckActivity">
        </activity>
        <activity android:name=".jiuray.SetDateActivity">
        </activity>
        <activity android:name=".jiuray.SetTimeActivity">
        </activity>
    </application>

</manifest>